* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333;
}
.brand {
  font-size: 30px;
  text-align: center;
}
.scoreboard{
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}
.scoreboard-letter{
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #333;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-btn{
  width: 150px;
  margin-top: 50px;
  text-transform: uppercase;
  border: 3px solid #333;
  border-radius: 4px;
  font-weight: bold;
  display:flex ;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
